:root {
  --main-family: 'Roboto', sans-serif;
  --second-family: 'Raleway', sans-serif;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--main-family);
  color: var(--slate);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.page-header {
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nav-container,
.page-navigation,
.nav-list,
.address-list {
  display: flex;
}

.page-navigation {
  align-items: center;
  gap: 40px;
}

.nav-container {
  justify-content: space-between;
}

.nav-list {
  gap: 40px;
}

.logo-link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  padding: 24px 0;
  margin-right: 76px;
}

.half-logo-text {
  color: var(--navy-blue);
}

.nav-list-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.first-nav-link {
  position: relative;
  color: var(--ocean);
}

.first-nav-link::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--ocean);
  border-radius: 2px;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  color: var(--ocean);
}

.page-address {
  font-style: normal;
}

.address-list {
  gap: 40px;
}

.address-list-item {
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:focus,
.address-link:hover {
  color: var(--ocean);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.hero-section {
  margin: 0 auto;
  background-color: var(--navy-blue);
  background-image: linear-gradient(to bottom, var(--grey), var(--grey)),
    url('../images/background/hero-people-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 188px 0;
  max-width: 1440px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  width: 100%;
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--ocean);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-list,
.team-list,
.portfolio-list {
  display: flex;
}

.benefits-icon-container {
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  background-color: var(--cloud);
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.benefits-list {
  justify-content: space-between;
  gap: 24px;
}

.benefits-list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.benefits-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-section {
  letter-spacing: 0.02em;
  background: var(--cloud);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.team-list {
  justify-content: space-between;
  gap: 24px;
}

.team-list-item {
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: var(--white);
  text-align: center;
}

.team-info {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.team-name-position {
  line-height: 1.5;
  margin-bottom: 8px;
}

.team-info-list {
  display: flex;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  gap: 24px;
}

.team-info-link:not(:last-child) {
  gap: calc((100% - 160px) / 4);
}

.team-info-link {
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-info-link:focus,
.team-info-link:hover {
  background-color: var(--ocean);
}

.team-info-icon {
  fill: var(--cloud);
}

.portfolio-main-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
  margin-bottom: 72px;
}

.portfolio-list {
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  flex-basis: calc((100% - 72px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-container {
  overflow: hidden;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 360px;
  font-family: var(--main-family);
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  letter-spacing: 0.02em;
  color: var(--cloud);
  background-color: var(--iris);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0%);
}

.portfolio-text-container {
  width: 100%;
  flex-basis: calc((100% - 72px) / 3);
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
  border-right: 1px solid var(--cornflower);
  padding: 32px 16px;
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.portfolio-item-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-page-footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--navy-blue);
}

.main-footer-description {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  width: 100%;
  max-width: 264px;
}

.logo-link-footer {
  display: inline-block;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  margin-bottom: 16px;
}

.half-logo-footer {
  color: var(--cloud);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-social-media {
  display: inline-block;
}

.footer-social-title {
  font-family: var(--main-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-info-list {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.footer-info-link {
  background-color: var(--iris);
  border-radius: 50%;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-info-link:hover,
.footer-info-link:focus {
  background-color: var(--green);
}

.footer-info-icon {
  fill: var(--cloud);
}

.modal-overlay {
  background-color: var(--navy-blue-modal);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opasity 250ms ease-in-out;
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  background-color: var(--dairy);
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  height: 584px;
  width: 408px;
  overflow-y: auto;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px;
}

.modal-form-label {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}

.modal-form-input {
  font-family: inherit;
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  height: 40px;
  transition: border 250ms ease-in-out;
}

.modal-form-textarea {
  border: 1px solid var(--navy-blue-modal);
  border-radius: 4px;
  max-width: 100%;
  resize: none;
}

.modal-form-input:focus-within,
.modal-form-textarea:focus-within {
  border: 1px solid var(--iris);
}

.modal-form-textarea::placeholder {
  font-family: var(--main-family);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}

.modal-form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background-color: var(--iris);
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--ocean);
}
